[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
startCommand = "npx prisma db push --skip-generate && node dist/main"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
numReplicas = 1
